* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

nav {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    }
.logo img{
    width: 60px;
}

.logo span {
    color: #00d4ff;
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #00d4ff;
}
