



img{
    width: 48px;
    height: 48px;
}
.final{
    display: flex;
}

.semi-final{
    display: flex;
   
}
.quarter-finals{
    display: flex;
   
}
.roundof16{
    display: flex;
   
}
.GS{
    display: flex;
   
}
.nation{
    padding-left: 100px;
}
.teams{
    margin-left: 100px;
}